body {
	font-family: Arial, Helvetica, sans-serif;
	color: #000033;
	font-size: 12px;
	background-color: #EAEAD5;
	margin: 0px;
}

.barraespacio
{
	BACKGROUND: #FFFFFF;
	border: 1px inset #001122;

}
td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
}
.tablaint{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #F5F9FA;
	margin: 0px;
}

th {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #FFFFFF;
	background-color: #3993AC;
	text-transform: capitalize;
	border: 1px #003366;
	text-align: center;
}
th a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	text-transform: capitalize;
	text-align: center;

}
a {
	font-family: Arial, Helvetica, sans-serif;
	color: #003399;
	font-size: 12px;
	text-decoration: none;

}
a:hover {
	TEXT-DECORATION: underline
}
.titulo {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color:#336699;
	text-align: center;
}
.texto {
	font-family: Arial, Helvetica, sans-serif;
	color:#0066CC;
	font-size:11px;
	margin: 2px;
	padding: 2px;
	border: 1px inset #003366;
}
.par {

	font-family: Arial, Helvetica, sans-serif;
	color: #000033;
	margin: 2px;
	padding: 2px;
	border: 1px inset #003366;
	background-color:#FFFFFF;
}
.impar {
	font-family: Arial, Helvetica, sans-serif;
	color: #000033;
	margin: 2px;
	padding: 2px;
	border: 1px inset #003366;
	background-color:#CCFFFF;	
}
.error {
	font-family: "Courier New", Courier, mono;
	color: #FFFF00;
	margin: 2px;
	padding: 2px;
	border: 1pt solid #FF6666;
	background-color: #FF0000;
	font-size: 12px;
	font-weight: bold;
}
#barramenusup {
	width:100%;
	color:#111111;
	height:28px;
	background-color: #99CCFF;
	}
#barramenusup ul{
	display:block;
	list-style-type:none;
	padding: 2px;
	margin: 2px;
	}
#barramenusup ul li{
	display:block;
	float:left;
	border: thin solid #003366;
	padding-top: 2px;
	padding-right: 4px;
	padding-bottom: 2px;
	padding-left: 4px;
	background-color: #BADCDC;
	margin-right: 2px;
	}
#barramenusup ul li a{
	color:#003333;
	text-decoration:none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	display: block;
	background-color: #BADCDC;
	}		
#barramenusup ul li a:hover{
	background-color:#CCFFFF;
	}
img {
	vertical-align: middle;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
#menu ul{
	display:block;
	padding: 4px;
	margin: 4px;
	width: 200px;
	}
#menu ul li{
	display:block;
	border: thin solid #003366;
	background-color: #BADCDC;
	padding: 2px;
	margin: 2px;
	}
#menu ul li a{
	color:#003333;
	text-decoration:none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	display: block;
	background-color: #BADCDC;
	}		
#menu ul li a:hover{
	background-color:#CCFFFF;
	}